@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font: 'Poppins', sans-serif;
$primary-color: #000;
$secondary-color: #fff;
$hover-color: #38a1f7;
$box-background-color: #2b2b2b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background: none;
    border: none;
    color: $secondary-color;
}
body{
    font-family: $font;
    background-color: $primary-color;
    color: $secondary-color;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 1rem 0;
    gap: 3rem;
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.navegacao a{
    text-decoration: none;
    color: $secondary-color;
    font-size: 1.2rem;
    padding: 0 .5rem;
    transition: .5s;
    &:hover{
        color: $primary-color;
        background-color: $secondary-color;
        border-radius: 1.5rem;
    }
}

.modo-claro{
    cursor: pointer;
}

.modo-claro i{
    
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    background: url(../imgs/exemplo.jpg) no-repeat;
    background-size:contain;
    background-position: bottom 40px center;
    width: 100%;
    height: 900px;
    filter: grayscale(100%);
    transition: .5s;
    &:hover{
        filter: grayscale(0%);
    }
}

.principal h1{
    font-size: 3rem;
}

.siga{
    display: flex;
    font-size: 1.3rem;
    gap: 1rem;
}

.siga button{
    cursor: pointer;
}

.siga button i:hover{
    color: $hover-color;
}

.sobre{
    display: flex;
    flex-direction: column;
    background-color: $box-background-color;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    justify-content: center;
}

.sobre h2{
    font-size: 2rem;
}

.sobre p{
    font-size: 1.2rem;
    text-align: justify;
}

.sobre span{
    align-self: flex-end;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover{
        color: $hover-color;
    }
}

.swiper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.swiper-wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Limita a 3 colunas */
        width: 120px; /* Limita a largura ao conteúdo */
        gap: 10px;
}   

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: $box-background-color;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: justify;
    width: 300px;
    height: 320px;
}

.swiper-slide i{
    &:hover{
        color: $hover-color;
    }
}

.swiper-slide h3{
    font-size: 1.5rem;
}

.swiper-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.swiper-button-prev, .swiper-button-next{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $box-background-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: .5rem;
    cursor: pointer;
    &:hover{
        background-color: $hover-color;
    }
}
