@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font: 'Poppins', sans-serif;
$primary-color: #000;
$secondary-color: #fff;
$hover-color: #38a1f7;
$box-background-color: #2b2b2b;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background: none;
    border: none; 
    color: $secondary-color;
}

body{
    font-family: $font;
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 3rem;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navegacao a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 .5rem;
    transition: .5s;
    &:hover{
        color: $primary-color;
        background-color: $secondary-color;
        border-radius: 1.5rem;
    }
}

.modo-claro{
    cursor: pointer;
}

.modo-claro i{
    
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    background: url(../imgs/exemplo.jpg) no-repeat;
    background-size:contain;
    background-position: bottom 40px center;
    width: 100%;
    height: 650px;
    filter: grayscale(100%);
    transition: .5s;
    &:hover{
        filter: grayscale(0%);
    }
}

.principal h1{
    font-size: 3rem;
}

.redes-sociais{
    display: flex;
    font-size: 1.3rem;
    gap: 1rem;
}

.redes-sociais button{
    cursor: pointer;
}

.redes-sociais button i:hover{
    color: $hover-color;
}

.sobre{
    display: flex;
    flex-direction: column;
    background-color: $box-background-color;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    justify-content: center;
}

.sobre h2{
    font-size: 2rem;
}

.sobre p{
    font-size: 1.2rem;
    text-align: justify;
}

.sobre span{
    align-self: flex-end;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover{
        color: $hover-color;
    }
}

.swiper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 100%;
    overflow: hidden;
}

.swiper h2{
    font-size: 2rem;
}

.swiper-wrapper{
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}   

.swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: $box-background-color;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: justify;
    width: 300px;
    height: 320px;
}

.swiper-slide i{
    &:hover{
        color: $hover-color;
    }
}

.swiper-slide h3{
    font-size: 1.5rem;
}

.swiper-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.swiper-button-prev, .swiper-button-next{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $box-background-color;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: .5rem;
    cursor: pointer;
    &:hover{
        background-color: $hover-color;
    }
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.projetos h2{
    font-size: 2rem;
}

.projeto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: $box-background-color;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 300px;
    height: 320px;
    cursor: pointer;
}

.projeto-tags{
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.projeto-tags li{
    background-color: $box-background-color;
    padding: .3rem;
    border-radius: .5rem;
    cursor:default;
    transition: .5s;
    &:hover{
        background-color: $hover-color;
    }
}

.projetos span{
    font-size: 1.1rem;
    cursor: pointer;
    &:hover{
        color: $hover-color;
    }
}

.rodape, .rodape>.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.rodape{
    padding-top: 2rem;
    border-top: $box-background-color solid 1px;
    width: 100%;
}

.redes-sociais-botoes i{
    margin: 1rem 1rem 2rem;
}
